.footer__column-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.footer__column-link:visited {
  color: white;
}
